<div class="
    js-workout
    ut-tableChildren
    ut-tableFixed
">
    <div class="
        ut-paddingHorz
        ut-hide
    ">
        <h3 class="js-title"></h3>

        <form
        	class="
                js-config
                grid
                grid--halfs
            "
    	>
            <div>
                {{#each (array
                    "Sets"
                    "Peak"
                    "Start Percent"
                    "End percent"
                    "Max"
                )}}
                    <label>{{this}}</label>
                    <select class="js-{{camel this}}"></select>
                {{/each}}
            </div>
            <div>
                {{#each (array
                    "Increase"
                    "Reps"
                    "Inc interval"
                    "Equipment weight"
                )}}
                    <label>{{this}}</label>
                    <select class="js-{{camel this}}"></select>
                {{/each}}
            </div>
        </form>
        
        <div class="
            grid
            grid--halfs
            grid--gutters
        ">
            <div class="
                grid
                grid--fulls
                grid--vertGutters
            ">
                {{#each (array
                    "Last max"
                    "Volume"
                    "Increase session"
                    "Max session"
                    "Sets done"
                    "Sets left"
                )}}
                    <div class="
                        card
                        card--workout
                    ">
                        <h3>{{this}}</h3>
                        <p class="js-{{camel this}}"></p>
                    </div>
                {{/each}}
            </div>
            <div class="
                grid
                grid--fulls
                grid--vertGutters
            ">
                {{#each (array
                    "Last"
                    "Target"
                    "Weight split"
                    "Next"
                )}}
                    <div class="
                        card
                        card--workout
                    ">
                        <h3>{{this}}</h3>
                        <p class="js-{{camel this}}"></p>
                    </div>
                {{/each}}
            </div>
        </div>

        <form class="
            js-submit
            ut-textAlignRight
        ">
            <label>Weight</label>
            <select class="js-actualWeight"></select>

            <label>Reps</label>
            <select class="js-actualReps"></select>

            <button type="submit" class="button">Set done</button>
        </form>
    </div>
</div>