<div class="ut-bg1">
	<div class="innerContainer ut-padding ut-color--reverse">
		<div class="half">
			<h1>{{global.title}}</h1>
			<p>{{{lorem '2s'}}}</p>
		</div>
		<div class="half last">
			<div class="ut-tableChildren">
				<p class="ut-paddingRight">Mike Mellor - Front end web developer / iOS developer</p>
				<img class="gravitar ut-fullWidth" src="https://s.gravatar.com/avatar/c199be5cfdc1b7b8682712d98c68736a?s=80">
			</div>
		</div>
	</div>
</div>

<div class="innerContainer ut-padding ut-highlight--reverse">
	<div class="ut-tableChildren ut-tableFixed ut-tableSpacing">
		<a class="callout" href="./gym.html">
			{{> icon name="chart-area" class="ut-blockCenter icon--large"}}
			<p class="ut-noMargin ut-paddingTop">{{{lorem '1-2s'}}}</p>
		</a>
		<a class="callout" href="./blog.html">
			{{> icon name="graduation-cap" class="ut-blockCenter icon--large"}}
			<p class="ut-noMargin ut-paddingTop">{{{lorem '1-2s'}}}</p>
		</a>
		<a class="callout" href="./contact.html">
			{{> icon name="user" class="ut-blockCenter icon--large"}}
			<p class="ut-noMargin ut-paddingTop">{{{lorem '1-2s'}}}</p>
		</a>
	</div>

	<p>{{lorem '10s'}}</p>
</div>